<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2><%= title %></h2>
        <form action="/save" method="post">
          
            <div class="form-group">
                <label for="name">NAME:</label>
                <input type="text" class="form-control" id="email" placeholder="Enter Name" name="name"></div>
                <div class="form-group">
                    <label for="age">AGE:</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter Age" name="age"></div>
                    <div class="form-group">
                        <label for="department">DEPARTMENT:</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter Department" name="department"></div>
                       <button type="submit" class="btn btn-primary">submit</button>
                </form>
            <table  class="table table-dark table-striped">
</body>
</html>